@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot');
	src:url('icomoon.eot?#iefix') format('embedded-opentype'),
		url('icomoon.woff') format('woff'),
		url('icomoon.ttf') format('truetype'),
		url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.iconm-home, .iconm-pencil, .iconm-pen, .iconm-image, .iconm-images, .iconm-camera, .iconm-music, .iconm-headphones, .iconm-play, .iconm-camera-2, .iconm-connection, .iconm-books, .iconm-book, .iconm-file, .iconm-profile, .iconm-file-2, .iconm-file-3, .iconm-copy, .iconm-copy-2, .iconm-copy-3, .iconm-stack, .iconm-folder, .iconm-folder-open, .iconm-tag, .iconm-tags, .iconm-barcode, .iconm-cart, .iconm-coin, .iconm-phone, .iconm-location, .iconm-map, .iconm-clock, .iconm-alarm, .iconm-calendar, .iconm-print, .iconm-screen, .iconm-mobile, .iconm-tablet, .iconm-tv, .iconm-cabinet, .iconm-drawer, .iconm-drawer-2, .iconm-box-add, .iconm-box-remove, .iconm-disk, .iconm-undo, .iconm-redo, .iconm-flip, .iconm-flip-2, .iconm-forward, .iconm-reply, .iconm-bubble, .iconm-bubbles, .iconm-quotes-left, .iconm-busy, .iconm-spinner, .iconm-binoculars, .iconm-search, .iconm-zoom-in, .iconm-zoom-out, .iconm-expand, .iconm-contract, .iconm-expand-2, .iconm-contract-2, .iconm-key, .iconm-lock, .iconm-unlocked, .iconm-wrench, .iconm-settings, .iconm-equalizer, .iconm-cog, .iconm-cogs, .iconm-hammer, .iconm-wand, .iconm-aid, .iconm-bug, .iconm-pie, .iconm-stats, .iconm-bars, .iconm-bars-2, .iconm-gift, .iconm-trophy, .iconm-food, .iconm-leaf, .iconm-rocket, .iconm-meter, .iconm-meter2, .iconm-dashboard, .iconm-hammer-2, .iconm-fire, .iconm-lab, .iconm-magnet, .iconm-remove, .iconm-briefcase, .iconm-airplane, .iconm-truck, .iconm-road, .iconm-accessibility, .iconm-target, .iconm-shield, .iconm-lightning, .iconm-switch, .iconm-power-cord, .iconm-signup, .iconm-list, .iconm-list-2, .iconm-numbered-list, .iconm-menu, .iconm-menu-2, .iconm-tree, .iconm-cloud, .iconm-cloud-download, .iconm-cloud-upload, .iconm-earth, .iconm-link, .iconm-flag, .iconm-attachment, .iconm-eye, .iconm-eye-blocked, .iconm-bookmark, .iconm-bookmarks, .iconm-brightness-medium, .iconm-brightness-contrast, .iconm-star, .iconm-heart, .iconm-heart-broken, .iconm-thumbs-up, .iconm-thumbs-up-2, .iconm-happy, .iconm-smiley, .iconm-tongue, .iconm-sad, .iconm-wink, .iconm-grin, .iconm-cool, .iconm-evil, .iconm-shocked, .iconm-confused, .iconm-neutral, .iconm-wondering, .iconm-point-up, .iconm-point-right, .iconm-point-down, .iconm-point-left, .iconm-warning, .iconm-question, .iconm-info, .iconm-blocked, .iconm-cancel-circle, .iconm-checkmark-circle, .iconm-notification, .iconm-checkmark, .iconm-spell-check, .iconm-enter, .iconm-exit, .iconm-pause, .iconm-play-2, .iconm-stop, .iconm-backward, .iconm-forward-2, .iconm-first, .iconm-last, .iconm-previous, .iconm-next, .iconm-eject, .iconm-volume-high, .iconm-volume-low, .iconm-loop, .iconm-arrow-up-left, .iconm-arrow-up, .iconm-arrow-up-right, .iconm-arrow-right, .iconm-arrow-down-right, .iconm-arrow-down, .iconm-arrow-down-left, .iconm-arrow-left, .iconm-checkbox-checked, .iconm-checkbox-unchecked, .iconm-radio-checked, .iconm-radio-unchecked, .iconm-crop, .iconm-scissors, .iconm-filter, .iconm-font, .iconm-text-height, .iconm-text-width, .iconm-bold, .iconm-underline, .iconm-italic, .iconm-strikethrough, .iconm-omega, .iconm-sigma, .iconm-table, .iconm-pilcrow, .iconm-paragraph-left, .iconm-paragraph-center, .iconm-paragraph-right, .iconm-paragraph-justify, .iconm-new-tab, .iconm-code, .iconm-console, .iconm-share, .iconm-mail, .iconm-google, .iconm-google-plus, .iconm-google-drive, .iconm-facebook, .iconm-instagram, .iconm-twitter, .iconm-feed, .iconm-youtube, .iconm-vimeo, .iconm-flickr, .iconm-picassa, .iconm-dribbble, .iconm-deviantart, .iconm-steam, .iconm-github, .iconm-github-2, .iconm-wordpress, .iconm-joomla, .iconm-blogger, .iconm-tumblr, .iconm-yahoo, .iconm-tux, .iconm-apple, .iconm-android, .iconm-windows, .iconm-windows8, .iconm-soundcloud, .iconm-skype, .iconm-reddit, .iconm-linkedin, .iconm-lastfm, .iconm-delicious, .iconm-stumbleupon, .iconm-stackoverflow, .iconm-pinterest, .iconm-xing, .iconm-flattr, .iconm-foursquare, .iconm-paypal, .iconm-yelp, .iconm-libreoffice, .iconm-file-pdf, .iconm-file-openoffice, .iconm-file-word, .iconm-file-excel, .iconm-file-zip, .iconm-file-powerpoint, .iconm-file-xml, .iconm-file-css, .iconm-html5, .iconm-css3, .iconm-chrome, .iconm-firefox, .iconm-IE, .iconm-opera, .iconm-safari, .iconm-IcoMoon, .iconm-user, .iconm-users, .iconm-support {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.iconm-home:before {
	content: "\e000";
}
.iconm-pencil:before {
	content: "\e005";
}
.iconm-pen:before {
	content: "\e008";
}
.iconm-image:before {
	content: "\e00d";
}
.iconm-images:before {
	content: "\e00e";
}
.iconm-camera:before {
	content: "\e00f";
}
.iconm-music:before {
	content: "\e010";
}
.iconm-headphones:before {
	content: "\e011";
}
.iconm-play:before {
	content: "\e012";
}
.iconm-camera-2:before {
	content: "\e014";
}
.iconm-connection:before {
	content: "\e01c";
}
.iconm-books:before {
	content: "\e020";
}
.iconm-book:before {
	content: "\e01f";
}
.iconm-file:before {
	content: "\e022";
}
.iconm-profile:before {
	content: "\e023";
}
.iconm-file-2:before {
	content: "\e024";
}
.iconm-file-3:before {
	content: "\e026";
}
.iconm-copy:before {
	content: "\e027";
}
.iconm-copy-2:before {
	content: "\e028";
}
.iconm-copy-3:before {
	content: "\e029";
}
.iconm-stack:before {
	content: "\e02d";
}
.iconm-folder:before {
	content: "\e02e";
}
.iconm-folder-open:before {
	content: "\e02f";
}
.iconm-tag:before {
	content: "\e030";
}
.iconm-tags:before {
	content: "\e031";
}
.iconm-barcode:before {
	content: "\e032";
}
.iconm-cart:before {
	content: "\e035";
}
.iconm-coin:before {
	content: "\e038";
}
.iconm-phone:before {
	content: "\e03c";
}
.iconm-location:before {
	content: "\e042";
}
.iconm-map:before {
	content: "\e045";
}
.iconm-clock:before {
	content: "\e048";
}
.iconm-alarm:before {
	content: "\e04a";
}
.iconm-calendar:before {
	content: "\e04e";
}
.iconm-print:before {
	content: "\e050";
}
.iconm-screen:before {
	content: "\e052";
}
.iconm-mobile:before {
	content: "\e054";
}
.iconm-tablet:before {
	content: "\e056";
}
.iconm-tv:before {
	content: "\e057";
}
.iconm-cabinet:before {
	content: "\e058";
}
.iconm-drawer:before {
	content: "\e059";
}
.iconm-drawer-2:before {
	content: "\e05b";
}
.iconm-box-add:before {
	content: "\e05c";
}
.iconm-box-remove:before {
	content: "\e05d";
}
.iconm-disk:before {
	content: "\e060";
}
.iconm-undo:before {
	content: "\e062";
}
.iconm-redo:before {
	content: "\e063";
}
.iconm-flip:before {
	content: "\e064";
}
.iconm-flip-2:before {
	content: "\e065";
}
.iconm-forward:before {
	content: "\e068";
}
.iconm-reply:before {
	content: "\e069";
}
.iconm-bubble:before {
	content: "\e06a";
}
.iconm-bubbles:before {
	content: "\e06b";
}
.iconm-quotes-left:before {
	content: "\e076";
}
.iconm-busy:before {
	content: "\e077";
}
.iconm-spinner:before {
	content: "\e078";
}
.iconm-binoculars:before {
	content: "\e07e";
}
.iconm-search:before {
	content: "\e07f";
}
.iconm-zoom-in:before {
	content: "\e080";
}
.iconm-zoom-out:before {
	content: "\e081";
}
.iconm-expand:before {
	content: "\e082";
}
.iconm-contract:before {
	content: "\e083";
}
.iconm-expand-2:before {
	content: "\e084";
}
.iconm-contract-2:before {
	content: "\e085";
}
.iconm-key:before {
	content: "\e086";
}
.iconm-lock:before {
	content: "\e088";
}
.iconm-unlocked:before {
	content: "\e08a";
}
.iconm-wrench:before {
	content: "\e08b";
}
.iconm-settings:before {
	content: "\e08c";
}
.iconm-equalizer:before {
	content: "\e08d";
}
.iconm-cog:before {
	content: "\e08e";
}
.iconm-cogs:before {
	content: "\e08f";
}
.iconm-hammer:before {
	content: "\e091";
}
.iconm-wand:before {
	content: "\e092";
}
.iconm-aid:before {
	content: "\e093";
}
.iconm-bug:before {
	content: "\e094";
}
.iconm-pie:before {
	content: "\e095";
}
.iconm-stats:before {
	content: "\e096";
}
.iconm-bars:before {
	content: "\e097";
}
.iconm-bars-2:before {
	content: "\e098";
}
.iconm-gift:before {
	content: "\e099";
}
.iconm-trophy:before {
	content: "\e09a";
}
.iconm-food:before {
	content: "\e09d";
}
.iconm-leaf:before {
	content: "\e09e";
}
.iconm-rocket:before {
	content: "\e09f";
}
.iconm-meter:before {
	content: "\e0a0";
}
.iconm-meter2:before {
	content: "\e0a1";
}
.iconm-dashboard:before {
	content: "\e0a2";
}
.iconm-hammer-2:before {
	content: "\e0a3";
}
.iconm-fire:before {
	content: "\e0a4";
}
.iconm-lab:before {
	content: "\e0a5";
}
.iconm-magnet:before {
	content: "\e0a6";
}
.iconm-remove:before {
	content: "\e0a7";
}
.iconm-briefcase:before {
	content: "\e0a9";
}
.iconm-airplane:before {
	content: "\e0aa";
}
.iconm-truck:before {
	content: "\e0ab";
}
.iconm-road:before {
	content: "\e0ac";
}
.iconm-accessibility:before {
	content: "\e0ad";
}
.iconm-target:before {
	content: "\e0ae";
}
.iconm-shield:before {
	content: "\e0af";
}
.iconm-lightning:before {
	content: "\e0b0";
}
.iconm-switch:before {
	content: "\e0b1";
}
.iconm-power-cord:before {
	content: "\e0b2";
}
.iconm-signup:before {
	content: "\e0b3";
}
.iconm-list:before {
	content: "\e0b4";
}
.iconm-list-2:before {
	content: "\e0b5";
}
.iconm-numbered-list:before {
	content: "\e0b6";
}
.iconm-menu:before {
	content: "\e0b7";
}
.iconm-menu-2:before {
	content: "\e0b8";
}
.iconm-tree:before {
	content: "\e0b9";
}
.iconm-cloud:before {
	content: "\e0ba";
}
.iconm-cloud-download:before {
	content: "\e0bb";
}
.iconm-cloud-upload:before {
	content: "\e0bc";
}
.iconm-earth:before {
	content: "\e0c2";
}
.iconm-link:before {
	content: "\e0c3";
}
.iconm-flag:before {
	content: "\e0c4";
}
.iconm-attachment:before {
	content: "\e0c5";
}
.iconm-eye:before {
	content: "\e0c6";
}
.iconm-eye-blocked:before {
	content: "\e0c7";
}
.iconm-bookmark:before {
	content: "\e0c9";
}
.iconm-bookmarks:before {
	content: "\e0ca";
}
.iconm-brightness-medium:before {
	content: "\e0cb";
}
.iconm-brightness-contrast:before {
	content: "\e0cc";
}
.iconm-star:before {
	content: "\e0ce";
}
.iconm-heart:before {
	content: "\e0d1";
}
.iconm-heart-broken:before {
	content: "\e0d3";
}
.iconm-thumbs-up:before {
	content: "\e0d4";
}
.iconm-thumbs-up-2:before {
	content: "\e0d5";
}
.iconm-happy:before {
	content: "\e0d6";
}
.iconm-smiley:before {
	content: "\e0d8";
}
.iconm-tongue:before {
	content: "\e0da";
}
.iconm-sad:before {
	content: "\e0dc";
}
.iconm-wink:before {
	content: "\e0de";
}
.iconm-grin:before {
	content: "\e0e0";
}
.iconm-cool:before {
	content: "\e0e2";
}
.iconm-evil:before {
	content: "\e0e6";
}
.iconm-shocked:before {
	content: "\e0e8";
}
.iconm-confused:before {
	content: "\e0ea";
}
.iconm-neutral:before {
	content: "\e0ec";
}
.iconm-wondering:before {
	content: "\e0ee";
}
.iconm-point-up:before {
	content: "\e0f0";
}
.iconm-point-right:before {
	content: "\e0f1";
}
.iconm-point-down:before {
	content: "\e0f2";
}
.iconm-point-left:before {
	content: "\e0f3";
}
.iconm-warning:before {
	content: "\e0f4";
}
.iconm-question:before {
	content: "\e0f6";
}
.iconm-info:before {
	content: "\e0f7";
}
.iconm-blocked:before {
	content: "\e0f9";
}
.iconm-cancel-circle:before {
	content: "\e0fa";
}
.iconm-checkmark-circle:before {
	content: "\e0fb";
}
.iconm-notification:before {
	content: "\e0f5";
}
.iconm-checkmark:before {
	content: "\e0fe";
}
.iconm-spell-check:before {
	content: "\e100";
}
.iconm-enter:before {
	content: "\e103";
}
.iconm-exit:before {
	content: "\e104";
}
.iconm-pause:before {
	content: "\e106";
}
.iconm-play-2:before {
	content: "\e10a";
}
.iconm-stop:before {
	content: "\e10c";
}
.iconm-backward:before {
	content: "\e10d";
}
.iconm-forward-2:before {
	content: "\e10e";
}
.iconm-first:before {
	content: "\e10f";
}
.iconm-last:before {
	content: "\e110";
}
.iconm-previous:before {
	content: "\e111";
}
.iconm-next:before {
	content: "\e112";
}
.iconm-eject:before {
	content: "\e113";
}
.iconm-volume-high:before {
	content: "\e114";
}
.iconm-volume-low:before {
	content: "\e116";
}
.iconm-loop:before {
	content: "\e11c";
}
.iconm-arrow-up-left:before {
	content: "\e127";
}
.iconm-arrow-up:before {
	content: "\e128";
}
.iconm-arrow-up-right:before {
	content: "\e129";
}
.iconm-arrow-right:before {
	content: "\e12a";
}
.iconm-arrow-down-right:before {
	content: "\e12b";
}
.iconm-arrow-down:before {
	content: "\e12c";
}
.iconm-arrow-down-left:before {
	content: "\e12d";
}
.iconm-arrow-left:before {
	content: "\e12e";
}
.iconm-checkbox-checked:before {
	content: "\e138";
}
.iconm-checkbox-unchecked:before {
	content: "\e139";
}
.iconm-radio-checked:before {
	content: "\e13b";
}
.iconm-radio-unchecked:before {
	content: "\e13c";
}
.iconm-crop:before {
	content: "\e13d";
}
.iconm-scissors:before {
	content: "\e13e";
}
.iconm-filter:before {
	content: "\e140";
}
.iconm-font:before {
	content: "\e141";
}
.iconm-text-height:before {
	content: "\e142";
}
.iconm-text-width:before {
	content: "\e143";
}
.iconm-bold:before {
	content: "\e144";
}
.iconm-underline:before {
	content: "\e145";
}
.iconm-italic:before {
	content: "\e146";
}
.iconm-strikethrough:before {
	content: "\e147";
}
.iconm-omega:before {
	content: "\e148";
}
.iconm-sigma:before {
	content: "\e149";
}
.iconm-table:before {
	content: "\e14a";
}
.iconm-pilcrow:before {
	content: "\e14d";
}
.iconm-paragraph-left:before {
	content: "\e150";
}
.iconm-paragraph-center:before {
	content: "\e151";
}
.iconm-paragraph-right:before {
	content: "\e152";
}
.iconm-paragraph-justify:before {
	content: "\e153";
}
.iconm-new-tab:before {
	content: "\e15a";
}
.iconm-code:before {
	content: "\e15c";
}
.iconm-console:before {
	content: "\e15d";
}
.iconm-share:before {
	content: "\e15e";
}
.iconm-mail:before {
	content: "\e160";
}
.iconm-google:before {
	content: "\e163";
}
.iconm-google-plus:before {
	content: "\e164";
}
.iconm-google-drive:before {
	content: "\e168";
}
.iconm-facebook:before {
	content: "\e169";
}
.iconm-instagram:before {
	content: "\e16c";
}
.iconm-twitter:before {
	content: "\e16d";
}
.iconm-feed:before {
	content: "\e170";
}
.iconm-youtube:before {
	content: "\e173";
}
.iconm-vimeo:before {
	content: "\e175";
}
.iconm-flickr:before {
	content: "\e179";
}
.iconm-picassa:before {
	content: "\e17d";
}
.iconm-dribbble:before {
	content: "\e17f";
}
.iconm-deviantart:before {
	content: "\e184";
}
.iconm-steam:before {
	content: "\e186";
}
.iconm-github:before {
	content: "\e188";
}
.iconm-github-2:before {
	content: "\e18b";
}
.iconm-wordpress:before {
	content: "\e18d";
}
.iconm-joomla:before {
	content: "\e18f";
}
.iconm-blogger:before {
	content: "\e190";
}
.iconm-tumblr:before {
	content: "\e192";
}
.iconm-yahoo:before {
	content: "\e194";
}
.iconm-tux:before {
	content: "\e195";
}
.iconm-apple:before {
	content: "\e196";
}
.iconm-android:before {
	content: "\e198";
}
.iconm-windows:before {
	content: "\e199";
}
.iconm-windows8:before {
	content: "\e19a";
}
.iconm-soundcloud:before {
	content: "\e19b";
}
.iconm-skype:before {
	content: "\e19d";
}
.iconm-reddit:before {
	content: "\e19e";
}
.iconm-linkedin:before {
	content: "\e19f";
}
.iconm-lastfm:before {
	content: "\e1a0";
}
.iconm-delicious:before {
	content: "\e1a2";
}
.iconm-stumbleupon:before {
	content: "\e1a3";
}
.iconm-stackoverflow:before {
	content: "\e1a5";
}
.iconm-pinterest:before {
	content: "\e1a6";
}
.iconm-xing:before {
	content: "\e1a8";
}
.iconm-flattr:before {
	content: "\e1aa";
}
.iconm-foursquare:before {
	content: "\e1ab";
}
.iconm-paypal:before {
	content: "\e1ad";
}
.iconm-yelp:before {
	content: "\e1b0";
}
.iconm-libreoffice:before {
	content: "\e1b1";
}
.iconm-file-pdf:before {
	content: "\e1b2";
}
.iconm-file-openoffice:before {
	content: "\e1b3";
}
.iconm-file-word:before {
	content: "\e1b4";
}
.iconm-file-excel:before {
	content: "\e1b5";
}
.iconm-file-zip:before {
	content: "\e1b6";
}
.iconm-file-powerpoint:before {
	content: "\e1b7";
}
.iconm-file-xml:before {
	content: "\e1b8";
}
.iconm-file-css:before {
	content: "\e1b9";
}
.iconm-html5:before {
	content: "\e1ba";
}
.iconm-css3:before {
	content: "\e1bc";
}
.iconm-chrome:before {
	content: "\e1bd";
}
.iconm-firefox:before {
	content: "\e1be";
}
.iconm-IE:before {
	content: "\e1bf";
}
.iconm-opera:before {
	content: "\e1c0";
}
.iconm-safari:before {
	content: "\e1c2";
}
.iconm-IcoMoon:before {
	content: "\e1c1";
}
.iconm-user:before {
	content: "\e074";
}
.iconm-users:before {
	content: "\e071";
}
.iconm-support:before {
	content: "\e001";
}
